*{
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}

.images{
    height: 100vh;
    display: flex;
}
.persos{
    flex: 1;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    transition: .6s;
}

.persos:hover{
    flex: 1.2;
}

.persos-pic{
    position: absolute;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
    filter: grayscale(80%);
    transition: .3s;
}

.persos:hover .persos-pic{
    filter: grayscale(0);
}